
<div class="container">
<div class="row">
  <div class="col-sm-12 text-center">
    <ol class="breadcrumb">
        <li><a ui-sref="main" href="">Home</a></li>
        <li ng-repeat="b in breadcrumb.items | reverse">
            <a href="/" ng-if="!$last">{{b.name}}</a>
            <span ng-if="$last">{{b.name}}</span>
        </li>
    </ol>
  </div>
    <hr class="clearfix"/>
</div>
</div>
<div class="container">
        <div class="row">
            <div class="col-md-3">

                <div class="panel panel-default sidebar-menu">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{'CATEGORIES' | translate}} </h3>
                    </div>
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked category-menu">
                            <li ng-repeat= "p in categories">
                                  <a href="category.html">{{p.name}} <span class="badge pull-right">42</span></a>
                                  <ul>
                                        <li ng-repeat="c in p.sub_categories"><a href="/Category/{{c.slug}}/{{c._id}}">{{c.name}}</a>
                                        </li>
                                  </ul>
                            </li>
                        </ul>

                    </div>
                </div>

            <!-- *** MENUS AND FILTERS END *** -->

                <div class="banner">
                    <a href="#">
                    <img src="/assets/img/banner.jpg" alt="sales 2015" class="img-responsive">
                    </a>
                </div>
            </div>

            <div class="col-md-9">
                <div class="row" id="productMain">
                    <div class="col-sm-6">
                        <div id="mainImage">
                            <img src="/assets/clothing/{{product.variants[0].image}}" err-src="/assets/images/photo.png" alt="{{product.name}}" class="img-responsive">
                        </div>

                        <div class="ribbon sale">
                            <div class="theribbon">{{'HOT_SALE' | translate}}</div>
                            <div class="ribbon-background"></div>
                        </div>
                          <!-- /.ribbon -->

                        <div class="ribbon new">
                            <div class="theribbon">{{'HOT_NEW' | translate}}</div>
                            <div class="ribbon-background"></div>
                        </div>
                          <!-- /.ribbon -->

                    </div>
                    <div class="col-sm-6">
                        <div class="box">
                            <h1 class="text-center">{{product.name}} (Size: {{product.variants[i].size}})</h1>
                            <p class="goToDescription"><a href="#details" class="scroll-to">{{'SCROLL_TO_DETAIL' | translate}} </a>
                            </p>
                            <p class="price"><del class="text-muted" ng-if="product.variants[0].price!=product.variants[0].mrp" >${{product.variants[i].mrp}}</del>&nbsp;${{product.variants[i].price}}</p>

                            <div class="text-center buttons">
                                <div class="btn-group">
                                    <a ui-sref="productDetail({id:product._id, slug:product.slug})" class="btn btn-default">{{'VIEW_DETAIL' | translate}}</a>
                                    <a ng-click="cart.addItem({sku:product._id, name:product.name, slug:product.slug, mrp:product.variants[0].mrp, price:product.variants[0].price, weight:product.variants[0].weight}, -1)" ng-hide="checkCart(product._id)" class="btn btn-info">-</a>

                                    <a ng-hide="checkCart(product._id)" class="btn btn-info">{{getQuantity(product._id);}}</a>

                                    <a ng-click="cart.addItem({sku:product._id, name:product.name, slug:product.slug, mrp:product.variants[0].mrp, price:product.variants[0].price, weight:product.variants[0].weight}, +1)" ng-hide="checkCart(product._id)" class="btn btn-info">+</a>
                                </div>
                                <a ng-click="cart.addItem({sku:product._id, name:product.name, slug:product.slug, mrp:product.variants[0].mrp, price:product.variants[0].price, quantity:1, image:product.variants[0].image,category:product.category, size:product.variants[0].size, weight:product.variants[0].weight} ,true);" ng-show="checkCart(product._id)" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>{{'ADD_TO_CART' | translate}}</a>
                            </div>

                        </div>

                        <div class="row" id="thumbs">
                            <div class="col-xs-4" ng-repeat="v in product.variants" ng-click="changeIndex($index);" ng-if="v.size!=product.variants[i].size">
                                <a href="" class="thumb">
                                  <img src="/assets/clothing/{{v.image}}" err-src="/assets/images/photo.png" alt="{{product.name}}" class="img-responsive">
                                  {{product.name}} (Size: {{v.size}})
                                  <p class="price"><del class="text-muted" ng-if="v.price!=v.mrp" >${{v.mrp}}</del>&nbsp;${{v.price}}</p>
                                </a>
                            </div>

                        </div>
                    </div>

                </div>
                <ul id="myTab" class="nav nav-tabs nav-top-border margin-top-40" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#details" role="tab" data-toggle="tab" aria-expanded="false">商品介绍</a>
                        </li>
                        <li role="presentation" >
                        <a href="#reviews" role="tab" data-toggle="tab" aria-expanded="true">商品评价</a>
                    </li>
                </ul>
                <div id="myTabContent" class="tab-content"> 
                    <div class="box tab-pane fade in active" id="details">
                    
                        <div ng-if="product.info">
                            <h4>{{'PRODUCT_DETAILS' | translate}}</h4>
                            <p>{{product.info}}</p>
                        </div>
                        <div ng-if="product.brand">
                            <h4>{{'PRODUCT_BRAND' | translate}}</h4>
                            <ul>
                                <li><a href="/Brand/{{product.brand.name}}/{{product.brand._id}}">{{product.brand.name}}</a></li>
                            </ul>
                        </div>
                        <div ng-if="product.category">
                            <h4>{{'CATEGORY' | translate}} </h4>
                            <ul>
                                <li><a href="/Category/{{product.category.slug}}/{{product.category._id}}">{{product.category.name}}</a></li>
                            </ul>
                        </div>
                        <div ng-if="product.variants[i]">
                            <h4>{{'PRODUCT_WEIGHT' | translate}} </h4>
                            <ul>
                                <li><a>{{product.variants[i].weight}}</a></li>
                            </ul>
                        </div>
                        <div ng-if="product.features.length>0">
                            <h4>{{'FEATURES' | translate}} </h4>
                            <ul>
                                <li ng-repeat="f in product.features">{{f.key}} : {{f.val}}</li>
                            </ul>
                        </div>
                        <div ng-if="product.keyFeatures.length>0">
                            <h4>{{'KEY_FEATURES' | translate}} </h4>
                            <ul>
                                <li ng-repeat="f in product.keyFeatures">{{f}}</li>
                            </ul>
                        </div>
                        <blockquote>
                            <p>2002年建谊集团率先在行业内自主研发了企业办公OA系统，并成立清科智源科技公司（建谊世纪科技公司前身），专门从事建筑路桥施工企业信息系统的研发。建谊世纪科技公司成立后，专注于做服务企业内部业务的ERP系统。
                            </p>
                        </blockquote>
                        <hr>
                        <div class="social">
                            <h4>{{'SHARE_YOUR_FRIENDS' | translate}}</h4>
                            <p>
                                <a href="https://www.facebook.com/codenx2" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="external gplus" data-animate-hover="pulse"><i class="fa fa-google-plus"></i></a>
                                <a href="https://twitter.com/itswadesh" class="external twitter" data-animate-hover="pulse"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="email" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
                            </p>
                        </div>
                    </div>
            
                <div role="tabpanel" class=" box tab-pane fade " id="reviews">

                    <!-- REVIEW ITEM -->
                    <div class="block margin-bottom-60" ng-repeat="item in replies">
                            <!--<span class="user-avatar">&lt;!&ndash; user-avatar &ndash;&gt;-->
                                <!--<img class="pull-left media-object" src={{item.img}} width="64" height="64" alt="">-->
                            <!--</span>-->

                        <div class="media-body">
                            <h4 class="media-heading size-14">
                                {{item.email}}
                                <!--<span class="text-muted">{{item.time}}</span> –-->
                                <span class="size-14 text-muted"><!-- stars -->
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </span>
                            </h4>
                            <p>
                                用户名:{{item.userName}}
                            </p>
                            <p>
                                提交时间:{{item.updated}}
                            </p>
                            <p>
                                {{item.comment}}
                            </p>

                        </div>
                    </div>
                    <!-- /REVIEW ITEM -->

                    <!-- 分页 -->
                    <pagination num-pages="replyScope.numOfPages" current-page="replyScope.curPage" class="pagination-small"></pagination>
                    <!-- 分页 -->

                    <!-- REVIEW FORM -->
                    <h4 class="page-header margin-bottom-40">ADD A REVIEW</h4>
                    <form ng-submit="submitReply(form)" name="form" novalidate>

                        <div class="row margin-bottom-10">

                            <div class="col-md-6 margin-bottom-10">
                                <!-- Name -->
                                <input type="text" name="name" id="name" ng-model="reply.name" class="form-control" placeholder="Name *" maxlength="100" required="">
                            </div>

                            <div class="col-md-6">
                                <!-- Email -->
                                <input type="email" name="email" id="email" ng-model="reply.email" class="form-control" placeholder="Email *" maxlength="100" required="">
                            </div>

                        </div>

                        <!-- Comment -->
                        <div class="margin-bottom-30">
                            <textarea name="text" id="text" ng-model="reply.comment" class="form-control" rows="6" placeholder="Comment" maxlength="1000"></textarea>
                        </div>

                        <!-- Stars -->
                        <div class="star">
                            <label class="radio-inline">
                              <input type="radio" ng-model="reply.star" ng-value="1">1 Star
                            </label>
                            <label class="radio-inline">
                              <input type="radio" ng-model="reply.star" ng-value="2">2 Stars
                            </label>
                            <label class="radio-inline">
                              <input type="radio" ng-model="reply.star" ng-value="3">3 Stars
                            </label>
                            <label class="radio-inline">
                              <input type="radio" ng-model="reply.star" ng-value="4">4 Stars
                            </label>
                            <label class="radio-inline">
                              <input type="radio" ng-model="reply.star" ng-value="5">5 Stars
                            </label>
                        </div>
                          <!-- Send Button -->
                        <button type="submit" ng-disabled="form.$dirty && form.$invalid" class="btn btn-primary" ><i class="fa fa-check"></i> Send Review</button>

                    </form>
                    <!-- /REVIEW FORM -->
                  <!--   <ul class="pagination">
                        <li><a href="#">&laquo;</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">...</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul> -->
                   <!--  <div class="rate-paginator">
                        <span class="rate-page-prev">&lt;&lt;上一页</span>
                        <span>1</span>
                        <a href="?page=2">2</a>
                        <a href="?page=3">3</a>
                        <span class="rate-page-break">...</span>
                        <a data-page="2" href="?page=2" class="rate-page-prev">下一页&gt;&gt;</a>
                    </div> -->
                    <!-- <tm-pagination conf="paginationConf"></tm-pagination> -->
                    <pagination1 num-pages="noOfPages" current-page="currentPage" class="pagination-small"></pagination1>
                    <div class="pagination">
                        <ul>
                            <li ng-class="{disabled: noPrevious()}"><a ng-click="selectPrevious()">Previous</a></li>
                            <li ng-repeat="page in pages" ng-class="{active: isActive(page)}"><a ng-click="selectPage(page)">{{page}}</a></li>
                            <li ng-class="{disabled: noNext()}"><a ng-click="selectNext()">Next</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
