.panel-heading a{
  color:#fff;
}
.right {
    color: #008000;
}
.error {
    color: #ff0000;
}
span.ng-scope{
	text-align:center;
	width:100%;
	/*display:inline-block;*/
	/*color:#999;*/
}
span.ui-select-match-text{
	width:100%;
}
.dropzone {
    border: 2px dashed #bbb;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    font: 20pt bold;
    color: #bbb;
    margin-bottom: 20px;
}
.green span.ng-scope{
    color:#fff!important；
}
