input.individual-iput,textarea.individual-iput{
	display:inline-block;
	width:65%!important;
}
label.individual-label{
	vertical-align:top;
	display:inline-block;
	width:14%;
	text-align:right;
	margin-top:8px;
	margin-left:6px;
	color: #333;
}
img.individual-img{
	display:inline-block;
	width:14%;
	margin-left:3px;
	height:34px;
	line-height:34px;
	text-align:center;
	cursor: pointer;
}
button.individual-btn{
	display:inline-block;
	width:14%;
	height:34px;
	line-height:34px;
	text-align: center;
	color:#000;
	border-radius:3px;
	background-color:#4FBFA8;
	padding:5px 8px 6px;
	border:none;
	outline:none;
	transform:translate(3px,6px);
}
p.individual-p{
	margin-left:15%;
}
button.button{
	height:34px;
	line-height:34px;
	overflow: hidden;
	transform:translateY(3px);
}
h3.fo-title{
	background-color:#555;
	height:35px;
	line-height:35px;
	border-radius:2px;
	color:#fff;
	font-size:18px;
	margin-bottom:20px;
}
h3.fo-title span{
	font-size:14px;
	font-weight:600;
	margin-left:10px;
}