<div class="container">
	<div class="row">
		<div class="col-md-2"></div>
		<!-- 內容部分开始 -->
		<div class="col-md-8">
			<div class="box">
				<h1>供应商用户详情信息</h1>
				<form class="form" name="form" ng-submit="***">
					<div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
                                                  'has-error': form.name.$invalid && submitted }">
						<label>用户名</label>
						<input type="text" name="name" class="form-control" ng-model="seller.compellation" required value="{{seller.compellation}}">
					</div>
					<div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
                                                  'has-error': form.name.$invalid && submitted }">
						<label>产品类型</label>
						<input type="text" name="product" class="form-control" ng-model="seller.product" required value="{{seller.product}}">
                    </div>
                    <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
                                                  'has-error': form.name.$invalid && submitted }">
						<label>商家真实全名</label>
						<input type="text" name="product" class="form-control" ng-model="seller.name" required value="{{seller.name}}">
                    </div>
                    <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
                                                  'has-error': form.name.$invalid && submitted }">
						<label>电话</label>
						<input type="text" name="product" class="form-control" ng-model="seller.phone" required value="{{seller.phone}}">
                    </div>
                    <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
                                                  'has-error': form.name.$invalid && submitted }">
						<label>手机号码</label>
						<input type="text" name="product" class="form-control" ng-model="seller.number" required value="{{seller.number}}">
                    </div>
                    <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
                                                  'has-error': form.name.$invalid && submitted }">
						<label>电子邮箱</label>
						<input type="text" name="product" class="form-control" ng-model="seller.email" required value="{{seller.email}}">
                    </div>
                    <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
                                                  'has-error': form.name.$invalid && submitted }">
						<label>联系地址</label>
						<input type="text" name="product" class="form-control" ng-model="seller.address" required value="{{seller.address}}">
                    </div>
                    <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
                                                  'has-error': form.name.$invalid && submitted }">
						<label>产品描述</label>
						<textarea name="name" id="" cols="30" rows="10" class="form-control" required>{{seller.describe}}</textarea>
                    </div>
					<div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
                                                  'has-error': form.name.$invalid && submitted }">
                        <label>是否通过审核</label><br>
                        <label for="active1">是</label>
                        <input type="radio" name="active" class="" id="active1" ng-model='seller.active' >&nbsp;&nbsp;&nbsp;
                        <label for="active2">否</label>
                        <input type="radio" name="active" class="" id="active2">
                        
                    </div>
					<button class="btn btn-lg btn-primary" type="submit" ui-sref="administration" ng-click="save()">保存提交</button>
				</form>
			</div>
		</div>
		
		<!-- 内容部分结束 -->
		<div class="col-md-2"></div>
	</div>
</div>