<div class="container">
	<div class="row">
		<div class="col-md-2"></div>
		<!-- 內容部分开始 -->
		<div class="col-md-8">
			<div class="box">
				<h1>供应商用户详情信息</h1>
				<form name="form" ng-submit="submitSave(form)" novalidate>
					<div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
                                                  'has-error': form.name.$invalid && submitted }">
						<label>用户名</label>
						<input type="text" name="name" class="form-control" ng-model="user.name" required value="{{user.name}}">
						<p class="help-block" ng-show="form.name.$error.required && submitted">
                  			请输入用户名
                		</p>
					</div>

                    <div class="form-group" ng-class="{ 'has-success': form.companyName.$valid && submitted,
                                                  'has-error': form.companyName.$invalid && submitted }">
						<label>公司名称</label>
						<input type="text" name="companyName" class="form-control" ng-model="user.companyName" required value="{{user.companyName}}">
						<p class="help-block" ng-show="form.companyName.$error.required && submitted">
                  			请输入公司名称
                		</p>
                    </div>

                    <div class="form-group" ng-class="{ 'has-success': form.cellphone.$valid && submitted,
                                                  'has-error': form.cellphone.$invalid && submitted }">
						<label>手机号码</label>

						<input type="text" name="cellphone" class="form-control" ng-model="user.cellphone" required value="{{user.cellphone}}">
						<p class="help-block" ng-show="form.cellphone.$error.required && submitted">
                  			请输入联系电话
                		</p>

                    </div>

                    <div class="form-group" ng-class="{ 'has-success': form.email.$valid && submitted,
                                                  'has-error': form.email.$invalid && submitted }">
						<label>电子邮箱</label>
						<input type="text" name="email" class="form-control" ng-model="user.email" required mongoose-error value="{{user.email}}" readonly>
                    </div>

                    <div class="form-group" ng-class="{ 'has-success': form.address.$valid && submitted,
                                                  'has-error': form.address.$invalid && submitted }">
						<label>注册地址</label>
						<input type="text" name="address" class="form-control" ng-model="user.address" required value="{{user.address}}">
		                <p class="help-block" ng-show="form.address.$error.required && submitted">
		                  请输入注册地址
		                </p>
                    </div>
					<!-- 营业执照号 -->
                    <div class="form-group" ng-class="{ 'has-success': form.businessLicense.$valid && submitted,
                                                  'has-error': form.businessLicense.$invalid && submitted }">
                		<label>营业执照号:</label>
                		<input type="text" name="businessLicense" class="form-control" ng-model="user.businessLicense"
                       required placeholder="新版三证合一营业执照，请填写统一社会信用代码"/>
                		<p class="help-block individual-p" ng-show="form.businessLicense.$error.required && submitted">
                  			请输入营业执照注册号
                		</p>
              		</div>
              		<!-- 税务登记号 -->
              		<div class="form-group" ng-class="{ 'has-success': form.taxFileNumber.$valid && submitted,
                                                  'has-error': form.taxFileNumber.$invalid && submitted }">
                		<label>税务登记号:</label>
                		<input type="text" name="taxFileNumber" class="form-control" ng-model="user.taxFileNumber"
                       required placeholder="新版三证合一营业执照，请填写统一社会信用代码，税号如无更改请填写原税号"/>
                		<p class="help-block individual-p" ng-show="form.taxFileNumber.$error.required && submitted">
                  		请输入税务登记号
                		</p>
              		</div>

					<div class="form-group" ng-class="{ 'has-success': form.active.$valid && submitted,
                                                  'has-error': form.active.$invalid && submitted }">
                        <label>是否通过审核</label><br>
                        <input type="checkbox" ng-model="seller.verify">

                    </div>
					<!-- <button class="btn btn-lg btn-primary" type="submit" ui-sref="administration">保存提交</button> -->
					<div class="text-center">
                    	<button class="btn btn-lg btn-primary" type="submit">保存提交</button>
              		</div>

				</form>
			</div>
		</div>

		<!-- 内容部分结束 -->
		<div class="col-md-2"></div>
	</div>
</div>
